// Quasar Sass variables (also used by vite config via sassVariables)
$primary   : #26a69a
$secondary : #4db6ac
$accent    : #9c27b0

$dark      : #10141c
$dark-page : #0b0e14

$positive  : #21ba45
$negative  : #c10015
$info      : #31ccec
$warning   : #f2c037
